<div class="wrapper d-flex flex-column align-items-center w-100">
  <h1 class="title">todos</h1>
  <div class="row justify-content-center w-100">
    <div class="todo-wrapper p-0 d-flex flex-column col-md-6 col-sm-8">
      <app-header></app-header>
      <app-todo-list></app-todo-list>
      <!-- |async: giúp cho angular làm việc với obsevable trên template
          giúp cho template này subscribe vào hasTodo$ lấy giá trị của observable -->
      <app-footer *ngIf="hastodo$ | async"></app-footer>
    </div>
  </div>
</div>
